.admin-panel {
  margin: 0 auto;
  max-width: 50%;
  border: 1px solid #eee;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 700px) {
  .admin-panel {
    max-width: 90%;
  }
}
.admin-panel__header {
  margin-top: 20px;
  margin-left: 20px;
}
.admin-panel__button {
  width: 150px;
  font-size: 10px;
  font-weight: 300 !important;
  border: 1px solid #b881fc !important;
  background-color: #b881fc !important;
  color: #fff !important;
}
.admin-panel__form {
  width: 100%;
  padding: 10px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.admin-panel__section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 10px;
  margin: 10px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.admin-panel__section--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.admin-panel__section label {
  font-size: 0.8em;
}
.admin-panel__section input {
  border: none;
  background-color: #f9f9f9;
  opacity: 0.8;
  border-radius: 4px;
  height: 25px;
  font-size: 14px;
  padding-left: 10px;
  width: 100%;
  margin-top: 5px;
}
.admin-panel__section textarea {
  border: none;
  background-color: #f9f9f9;
  opacity: 0.8;
  border-radius: 4px;
  height: 100px;
  font-size: 14px;
  padding-left: 10px;
  width: 100%;
  margin-top: 5px;
  padding-top: 4px;
}
.admin-panel__section textarea:focus {
  outline: none;
}
.admin-panel__section input[type="file"] {
  font-size: 10px;
  padding-bottom: 0px;
  height: 20px;
  padding-top: 5px;
}
.admin-panel__section--location {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.admin-panel .locations-block {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 10px;
  padding: 7px;
  font-size: 0.8em;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 5px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.admin-panel .locations-block__info {
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.admin-panel .locations-block__info__prop {
  margin-right: 25px;
}
.admin-panel .locations-block__info__prop img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.admin-panel .locations-block__info__prop--label {
  font-size: 10px;
  color: #b881fc;
}
.admin-panel .locations-block__info__prop--value {
  font-size: 12px;
}
.admin-panel .locations-block__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.admin-panel .locations-block__actions div {
  margin-left: 10px;
}
.admin-panel .locations-block__actions a {
  text-decoration: none;
}
.admin-panel .locations-block__actions--delete {
  color: #f00;
}
body {
  background-color: #fff;
}
.component-wrapper {
  margin-bottom: 50px;
}
.wrapper {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
}
.edit-wrap h2 {
  font-weight: 300;
  margin-top: 7px;
}
.edit-wrap label {
  font-weight: 100;
  font-size: 0.8em;
  color: #b881fc;
}
.fishing-description {
  height: 300px !important;
}
.logout {
  margin-top: 20px;
  color: #b881fc !important;
}
.view-page {
  max-width: 1000px;
  margin: auto;
}
.view-page__subtitle {
  width: 75%;
}
@media (max-width: 900px) {
  .view-page__subtitle {
    width: 100%;
  }
}
.view-page__body {
  font-weight: 300;
  font-size: 14px;
}
.view-page hr {
  background-color: #eee;
  border: none;
  height: 1px;
  margin-bottom: 25px;
}
.view-page h1 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
}
.view-page h3 {
  font-weight: 300;
  margin-top: 10px;
}
.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.app-container__search {
  max-width: 50%;
}
.img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.displayName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.displayName:hover {
  cursor: pointer;
}
.dropdown {
  right: 1rem;
  position: relative;
  width: 60%;
}
.dropdown__content {
  position: absolute;
  right: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  min-width: 160px;
  padding-top: 10px;
  opacity: 1;
}
.dropdown__item {
  color: #252525;
  font-weight: 100;
  font-size: 12px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  padding-bottom: 10px;
}
.dropdown__item:hover {
  cursor: pointer;
  color: #808080;
}
.dropdown--closed {
  opacity: 0;
}
.navlinks {
  color: #252525;
  border: none;
  background-color: #fff;
  font-weight: 100;
  font-size: 14px;
}
.mentorImg {
  height: 80px;
  width: 80px;
}
.profile_button {
  width: 100%;
}
.mentors {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mentors__brick {
  margin-top: 20px;
  padding: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mentors__avatar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mentors__info {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.mentors__info__name {
  color: #007aff;
  font-size: 22px;
  font-weight: 100;
}
.mentors__info__title {
  color: #8a8a8a;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 7px;
}
.mentors__info__shortbio {
  color: #8a8a8a;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 7px;
}
.mentors__info__skills {
  margin-top: 10px;
}
.mentors__info__skills__skill {
  font-size: 12px;
  border-radius: 4px;
  color: #007aff;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #f5f5f5;
  margin-right: 10px;
}
.mentors__actions {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mentors__actions__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #8a8a8a;
  font-size: 12px;
}
.small-font {
  font-size: 12px;
}
.home-page {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.home-page h1,
.home-page h4 {
  font-weight: 300;
}
.home-page__section {
  text-align: center;
  margin-top: 40px;
}
.home-page__header {
  color: #007aff;
  text-align: center;
  font-weight: 100;
  font-size: 3em;
}
.home-page__sub-header {
  color: #007aff;
  text-align: center;
  font-weight: 100;
  font-size: 2em;
}
.home-page__navbuttons {
  margin-top: 50px;
  text-align: center;
}
.home-page__navbuttons--button {
  color: #b881fc;
  border: 1px solid #b881fc;
  font-weight: 100;
  background-color: #fff;
  text-decoration: none;
  padding: 5px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  margin: 5px;
}
.home-page__navbuttons--button:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.home-page__navbuttons--button:focus,
.home-page__navbuttons--button:active {
  outline: 0;
}
.module-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  height: 80vh;
  background-color: rgba(255,255,255,0.4);
  padding: 10px;
}
.module-section--city {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.module-section--mentor {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input[type="checkbox"] + label:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
input[type="checkbox"]:checked + label {
  background-color: #eee;
}
input[type="checkbox"] + label {
  padding-left: 4%;
  padding-right: 4%;
  text-align: center;
  font-size: 10px;
  margin: 5px;
}
input,
select {
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}
input:hover,
select:hover {
  background-color: #f5f5f5;
}
input:active,
select:active,
input:focus,
select:focus {
  outline: 0;
}
.logo {
  color: #252525;
  text-decoration: none;
  font-weight: 100;
}
.select {
  border-radius: 0px;
  border-color: #000;
}
.form-title {
  margin-bottom: 10px;
}
.content-container {
  width: 87.5%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.content-container--home {
  margin-top: 100px;
}
.content-container--form {
  width: 45%;
}
header {
  margin-bottom: 10px;
}
